*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Bacasime Antique', ;}

body{
    background-image: url(Assets-Image/background-crew-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    width: 100%;
    height: 100vh;

    padding: 20px 0 0 0 ;

}



footer{
    color: #333333;

    padding: 0 0 0 100px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
}
footer .navegacao{
    width: 60%;
    height: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;


    background-color: rgba(133, 133, 133, 0.8);

    padding: 0 200px 0 0;
    text-transform:uppercase;


}
footer .linha{
    z-index: 1;
    margin: 0 0 0 100px;
    position: absolute;
    width: 35%;
    height: 1px;
    background-color: aliceblue;
}
footer strong{
    margin-right: 0.5em;
}
footer a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 20px;
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    padding-top: 40px;
    width: 100px;
    height: 100px;
}
footer .borda-inferior{
    z-index: 1;
    width: 90px;
    height: 5px;
    background-color: aliceblue;
}
footer .a-1, .a-2, .a-4{
    width: 100px;
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}



main{
    width: 100%;
    height: 920px;
    padding: 0 10%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



main .secao1{
    padding: 100px 0 0 0 ;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    
    color: white;
}
.secao1 strong{
    font-size: 40px;
    color: #b4b4b4;
    margin: 0 0.25em 0 0;

}
.secao1 .h1{
    font-size: 25px;
    width: 600px;
    height: 50px;

    display: flex;
    align-items: center;

    text-transform: uppercase;
}



main .secao2{
    width: 100%;
    height: 600px;
    
    color: white;
}



.secao2 .Anousheh-on{
    width: 100%;
    height: 600px;

    display: flex;
    justify-content: space-between;
}
.secao2 .Anousheh-off{
    display: none;
}
.secao2 .Victor-on{
    width: 100%;
    height: 600px;

    display: flex;
    justify-content: space-between;
}
.secao2 .Victor-off{
    display: none;
}
.secao2 .Douglas-on{
    width: 100%;
    height: 600px;

    display: flex;
    justify-content: space-between;
}
.secao2 .Douglas-off{
    display: none;
}
.secao2 .Mark-on{
    width: 100%;
    height: 600px;

    display: flex;
    justify-content: space-between;
}
.secao2 .Mark-off{
    display: none;
}



.secao2 img{
    width: auto;
    height: 600px;
}
.secao2 .text{
    display: flex;
    flex-direction: column;
}
.secao2 .text h2{
    font-size: 40px;
    color: #b4b4b4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.secao2 h3{
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 1em;

}
.secao2 p{
    width: 500px;
    height: 300px;
    font-size: 20px;
    color: #b4b4b4;
    line-height: 1.5em;

    margin: 0 0 100px 0;
}
.nave-circulos{
    width: 150px;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 50px;
}
.nave-circulos .circulo{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    border: solid 1px white;

}
.nave-circulos .circulo:hover{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(88, 88, 88);
    transition: 0.5s;
    cursor: pointer;
}
.circulo.active {
    background-color: rgb(73, 73, 73);
}


