*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Bacasime Antique', ;}

body{
    background-image: url(background-destination-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    width: 100%;
    height: 100vh;

    padding: 20px 0 0 0 ;

}

footer{
    color: #333333;

    padding: 0 0 0 100px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
}
footer .navegacao{
    width: 60%;
    height: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;


    background-color: rgba(133, 133, 133, 0.8);

    padding: 0 200px 0 0;
    text-transform:uppercase;


}
footer .linha{
    z-index: 1;
    margin: 0 0 0 100px;
    position: absolute;
    width: 35%;
    height: 1px;
    background-color: aliceblue;
}
footer strong{
    margin-right: 0.5em;
}
footer a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 20px;
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    padding-top: 40px;
    width: 100px;
    height: 100px;
}
footer .borda-inferior{
    z-index: 1;
    width: 130px;
    height: 5px;
    background-color: aliceblue;
}
footer .a-1, .a-3, .a-4{
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}


main{
    width: 100%;

    padding: 0 10%;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


main .seção1{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    
    padding: 250px 0 50px 0;
    color: white;
}
.seção1 .nave-planet{
    display: flex;
    justify-content: space-between;

    color: rgb(235, 235, 235);
    font-size: 20px;
    text-transform: uppercase;
    width: 500px;
}
.seção1 .nave-planet p{
    cursor: pointer;
}
.seção1 strong{
    font-size: 40px;
    color: #b4b4b4;
}
.seção1 .h1{
    font-size: 25px;
    margin: 0 0 0 100px;
    width: 600px;
    height: 50px;

    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
}

main .seção2{
    width: 90%;
    height: 500px;
    display: flex;


    color: white;
}
.seção2 img{
    margin: 0 0 0 100px;
    overflow: auto;
    width: 600px;
    height: 600px;
}
.seção2 .linha-dividi{
    width: 100%;
    height: 2px;
    background-color: rgb(175, 174, 174);
}

.text{
    width: 500px;
    height: 500px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.text h1{
    font-size: 120px;
    margin: 0.25em 10px;
    text-transform: uppercase;
}
.text .descript{
    color: #b4b4b4;
    font-size: 19px;
    line-height: 1.5em;
    
    height: 110px;
}
.seção2 .distancia-tempo{
    width: 100%;

    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 0;
}
.seção2 .distancia h3{
    font-size: 17px;
    color: #b4b4b4;

}
.seção2 .distancia p{
    font-size: 30px;
    color: white;

}
.seção2 .tempo h3{
    font-size: 17px;
    color: #b4b4b4;

}
.seção2 .tempo p{
    font-size: 30px;
    color: white;

}




.Moon-on{
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.Moon-off{
    display: none;
}

.Mars-on{
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.Mars-off{
    display: none;
}

.Europa-on{
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.Europa-off{
    display: none;
}

.Titan-on{
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.Titan-off{
    display: none;
}
/*teste