*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(background-destination-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    width: 100%;
    height: 100vh;

    padding: 20px 0 0 0 ;

}

footer{
    color: #333333;

    padding: 0 0 0 100px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
}
footer .navegacao{
    width: 60%;
    height: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;


    background-color: rgba(133, 133, 133, 0.8);

    padding: 0 200px 0 0;

}
footer .linha{
    z-index: 1;
    margin: 0 0 0 100px;
    position: absolute;
    width: 35%;
    height: 1px;
    background-color: aliceblue;
}
footer strong{
    margin-right: 0.5em;
}
footer a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 20px;
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    padding-top: 40px;
    width: 100px;
    height: 100px;
}
footer .borda-inferior{
    z-index: 1;
    width: 130px;
    height: 5px;
    background-color: aliceblue;
}


main{
    width: 100%;

    padding: 0 200px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


main .seção1{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    
    padding: 200px 100px 100px 0;
    color: white;
    background-color: aqua;
}
.seção1 .nave-planet{
    display: flex;
    justify-content: space-between;

    color: rgb(235, 235, 235);
    font-size: 17px;
    text-transform: uppercase;
    width: 400px;
}


main .seção2{
    width: 80%;
    height: 500px;
    display: flex;


    color: white;
}
.seção2 img{
    overflow: auto;
    width: 500px;
    height: 500px;
}
.seção2 .linha-dividi{
    width: 100%;
    height: 2px;
    background-color: white;
}
.seção2 .distancia-tempo{
    width: 100%;

    display: flex;
    justify-content: space-around;
}
.seção2 .distancia{
    font-size: 20px;
}
.seção2 .tempo{
    font-size: 20PX;
}
.text{
    width: 400px;
    height: 500px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.text h1{
    font-size: 100px;
    margin: 0.25em 10px;
}
.text p{

}
.Moon{
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.Mars{
    display: none;
}
.Europa{
    display: none;
}
.Titan{
    display: none;
}